html, body {
  background-color: green;
  height: 100%;
}

.container {
  text-align: center;
  margin: auto;
  width: 90%;
  background-color: green;
  color: white;
  font-family: sans-serif;
  transform: translate(0, 10%);
}

.rounded_button {
  margin: 2em;
  padding: .2em .5em;
  border-radius: 10px;
  background-color: white;
  border: 2px solid white;
  color: green;
  font-family: sans-serif;
}

.form_field {
  background-color: white;
  border: 2px solid white;
  color: green;
}
.form_field_container {
  width: 90%;
  margin: 1em auto ;
  text-align: center;
}

.manager_form {
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  padding: 1em;
}

.green {
  color: green;
}

#view_manager_form {
  font-family: sans-serif;
  font-size: 1em;
}

.underline {
  text-decoration: underline;
}

.important_info {
  margin: auto;
  border-radius: 10px;
  width: 90%;
  border: 2px solid white;
}

.hidden {
  display: none;
}

#current-state {
  margin: auto;
  width: 90%;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

/*.edit {
  padding: 2em;
}*/

.welcome {
  background-color: white;
  color: green;
  padding: 1em;
  text-align: center;
}

.header a, .header a:hover, .header a:visited, .header a:focus {
  text-decoration: none;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2.5em;
  }
}
