<br><h1>WRITE THIS INFO DOWN!!!</h1>
<h1>IT CAN <span class="underline">NOT</span>  BE RECOVERED!!!</h1><br>
<div class="important_info">
<h1>Garden Manager Name:  <%= @manager.name %></h1>
<h1>Manager Key:  <%= @manager.key %></h1>

</div>
