<div class="window">
  <h1>Welcome to Garden Manager</h1><br>
<button id="add_manager" class="rounded_button" type="button" name="new_manager">make a new manager</button>
<div class="" id="add_manager_form_container">
</div><br><br><br>
<button id="view_manager" class="rounded_button" type="button" name="view_manager">view a manager</button>
</div>
